<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
        <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="{% url 'admin:index' %}">Brand</a>
                </li>
                <li>
                    <a class="navbar-link" href="{% url 'index' %}">Index</a>
                </li>
                <li>
                    <a class="navbar-link" href="{% url 'Application:other' %}">Other</a>
                </li>
                <li>
                    <a class="navbar-link" href="https://www.youtube.com">You-tube</a>
                </li>
                <li>
                    <a class="navbar-link" href="{% url 'Application:relative' %}">Relative</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">

        {% block body_block %}
        <!--Anything outside this block will be inherited-->




        {% endblock %}

    </div>
</body>
</html>